@font-face {
  font-family: "iconfont"; /* Project id 4157122 */
  src: url('//at.alicdn.com/t/c/font_4157122_ab436maxtbg.woff?t=1688734557378') format('woff'),
       url('//at.alicdn.com/t/c/font_4157122_ab436maxtbg.ttf?t=1688734557378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-daohang:before {
  content: "\e63b";
  
}
.iconfont-dashang:before {
  content: "\e6e6";
  color: #d81e06;
}
.iconfont-jiaoliu:before {
  content: "\e600";
  color: #1afa29;
}
.iconfont-xiazai:before {
  content: "\e66a";
  color: #8a2be2;
}

.me-toolbar-sidebar {
  .popover {
    width: 180px;

    .title {
        font-size: 0.7rem;
    }

    .content {
      margin: 10px 0;
    }
  }
}
